<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sales_Order_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sales_Order_Application.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sales_Order_Application</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li >
                            <a type="button" class="dropbtn " asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        @if(User.IsInRole("Admin")){
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn">Stock</button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a asp-action="AddProduct" asp-controller="Stock">AddProduct</a>
                                    <a asp-action="Index" asp-controller="Stock">ShowAllProducts</a>
                                    <a href="#">Link 3</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button onclick="myFunction1()" class="dropbtn">Orders</button>
                                <div id="myDropdown1" class="dropdown-content">
                                    <a asp-action="Index" asp-controller="Order">ShowAllOrders</a>
                                </div>
                            </div>
                        }
                    </ul>

                    <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated  == false){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                    else{

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Welcome @User.Identity.Name</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    </ul>



                </div>
            </div>
        </nav>




        
    </header>
    <div class="container" ></div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Sales_Order_Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
        function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        }
        function myFunction1() {
        document.getElementById("myDropdown1").classList.toggle("show");
        }
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
